* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  color: #000000;
}

a {
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  background-color: white;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* Header */
.header-navigation {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 36px;
}

/* Mobile menu styles */

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.nav-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 100%;
  width: 100px;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 170px;
  }
}

/* New navigation for mobile */

/* Off-screen-menu */
.off-screen-menu {
  background-color: #ffffff;
  color: #ff8000;
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  transition: 0.4s ease;
}

.off-screen-menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .off-screen-menu-list {
    font-size: 16px;
    font-weight: 500;
    flex-direction: row;
    align-items: center;
  }
}

.off-screen-menu.active {
  right: 0;
}

.order-button {
  padding: 16px 20px;
  border: 1px solid black;

  font-weight: bold;
}

/* burger menu styles */

nav {
  display: flex;
  align-items: center;
}

.ham-menu {
  height: 35px;
  width: 35px;
  margin-left: auto;
  position: relative;
}

.ham-menu span {
  height: 2px;
  width: 80%;
  background-color: #000000;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

/* Styles for the ham menu when it's active */

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
/* Responsive styles */
@media (min-width: 768px) {
  .header-navigation {
    display: flex;
    flex-direction: row-reverse;
  }

  /* Hide the hamburger menu on larger screens */
  .ham-menu {
    display: none;
  }

  /* Full-screen navigation */
  .off-screen-menu {
    position: static;
    display: flex;
    height: auto;
    max-width: none;
    flex-direction: row-reverse;
    justify-content: flex-start;
    background-color: transparent;
    transition: none;
  }
}

/* Footer */

footer {
  background-color: #ff7c3c;
  padding: 48px 20px;
}

.footer-nav-top {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  padding-bottom: 48px;
}

.soc-icons {
  display: flex;
  gap: 12px;
}

footer svg {
  width: 20px;
  height: 20px;
}

.logo-footer {
  height: 100%;
  width: 84px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 1rem;
  font-weight: 500;
}

.custom-line {
  border: none;
  height: 1px;
  background-color: #000000;
  margin: 20px 0;
}

.policy-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  text-decoration: underline;
  gap: 16px;
  padding: 24px 0;
}

.policy {
  font-size: 1rem;
}

.policy-bottom {
  align-items: center;
}

.rights {
  text-align: center;
  font-weight: 100;
  padding-top: 8px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .footer-menu-list {
    flex-direction: row;
    gap: 32px;
  }

  footer {
    padding-bottom: 80px;
  }

  .footer-nav-top {
    padding-bottom: 80px;
  }

  .policy-bottom {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
    justify-content: center;
    align-items: baseline;
  }

  .policy-list {
    flex-direction: row;
    gap: 24px;
  }
}

@media (min-width: 1025px) {
  .footer-nav-top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .policy-list {
    padding: 0;
  }

  .custom-line {
    margin-bottom: 20px;
  }
}

/* Main content */

/* Hero Section */

.hero {
  background-color: #2e2f42;
  padding: 210px 0 270px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./img/hero_mob.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
}

.hero-box {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 245px 0 290px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(./img/hero_tab.png);
  }
}

@media screen and (min-width: 1025px) {
  .hero {
    padding: 270px 0 270px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(./img/hero_full.png);
  }
}

.hero-title {
  font-size: 40px;
  font-style: normal;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 20px;
  max-width: 336px;
}

.subtitle {
  color: #ffffff;
  max-width: 336px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 100;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    margin-bottom: 48px;
    max-width: 700px;
  }

  .hero-box {
    padding-left: 70px;
  }

  .subtitle {
    max-width: 560px;
    margin-bottom: 54px;
  }
}

@media screen and (min-width: 1025px) {
  .hero-box {
    padding-left: 220px;
  }
}

.buttons-container {
  display: flex;
  gap: 16px;
}

.hero-button-order {
  background: #ffffff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  align-items: center;
  height: 48px;
  width: 88px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-order:hover,
.hero-button-order:focus {
  background: transparent;
  color: #ffffff;
  border: #ffffff 1px solid;
}

.hero-button-contact {
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  border: #ffffff 1px solid;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  align-items: center;
  height: 48px;
  width: 88px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-contact:hover,
.hero-button-contact:focus {
  background: #ffffff;
  color: black;
}

/* About us section */

.about-us {
  display: flex;
  flex-direction: column;
  padding: 64px 20px 64px 20px;
}

.discover {
  margin-bottom: 20px;
  font-size: 32px;
}

.about-us-text {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .about-us {
    padding: 100px 70px;
  }
  .discover {
    margin-bottom: 38px;
    font-size: 40px;
  }
  .about-us-text {
    font-size: 18px;
  }
}

@media screen and (min-width: 1025px) {
  .about-us {
    flex-direction: row;
    gap: 80px;
    padding: 112px 64px;
  }

  .discover {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .about-us-text {
    font-size: 18px;
    max-width: 616px;
  }
}

/* Catering Options Section */

.catering-options {
  background-color: #ff7c3c;
  padding: 64px 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.exquisite {
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 700;
}

.options-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.options-description {
  font-size: 16px;
  margin-bottom: 48px;
}

.options-photo-list {
  display: flex;
  flex-direction: column;
}

.optins-box img {
  margin-bottom: 20px;
  width: 404px;
}

.options-subtitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
}

.buttons-container-orange {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.button-explore {
  background: transparent;
  color: black;
  font-size: 16px;
  border: black 1px solid;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  align-items: center;
  height: 48px;
  width: 88px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-explore:hover,
.button-explore:focus {
  background: transparent;
  color: #ffffff;
  border: #ffffff 1px solid;
}

.button-contact-orange {
  background: transparent;
  color: black;
  font-size: 16px;
  border-style: none;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  align-items: center;
  height: 48px;
  width: 88px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .catering-options {
    padding: 82px 105px;
  }
  .exquisite {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .options-title {
    font-size: 48px;
    margin-bottom: 24px;
  }

  .options-description {
    font-size: 18px;
    margin-bottom: 84px;
  }

  .optins-box img {
    margin-bottom: 68px;
    max-width: 404px;
  }

  .options-subtitle {
    font-size: 32px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1025px) {
  .catering-options {
    padding: 24px 64px;
  }

  .exquisite {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .options-photo-list {
    flex-direction: row;
    gap: 48px;
    justify-content: center;
  }

  .options-title {
    font-size: 48px;
    margin-bottom: 24px;
    text-align: center;
    max-width: 768px;
    align-self: center;
  }

  .options-description {
    margin-bottom: 42px;
    max-width: 768px;
    align-self: center;
  }

  .options-box {
    flex: 1 1 calc(33.33% - 20px);
    max-width: 404px;
  }

  .options-subtitle {
    margin-top: 68px;
  }
}

/* Special Offer */

.special-offer-section {
  background-color: #2e2f42;
  padding: 64px 20px;
  background-image: url(./img/special_bg_mob.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.special-title {
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 20px;
}

.special-description {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 48px;
}

.special-picture {
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .special-offer-section {
    padding: 54px 36px 112px 36px;
    background-image: url(./img/special_bg_tab.png);
  }

  .special-title {
    font-size: 40px;
  }

  .special-text {
    max-width: 494px;
  }
}

@media screen and (min-width: 1025px) {
  .special-offer-section {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 167px 100px 200px 100px;
    background-image: url(./img/special_bg_full.png);
  }

  .special-text {
    max-width: 500px;
  }

  .special-title {
    margin-bottom: 28px;
  }
}

/* Revievs */

.reviews {
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-title {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.02em;
  max-width: 335px;
  margin-bottom: 25px;
}

.reviews-paragraph {
  color: inherit;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.02em;
  max-width: 335px;
  margin-bottom: 40px;
  opacity: 0.4;
}

.reviews-feedback-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-item {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background: #ffffff;
  padding: 32px 8px;
  max-width: 335px;
  align-items: center;
  border: black 2px solid;
}

.second-item,
.third-item {
  display: none;
}

.customer-photo {
  width: 56px;
  height: 56px;
  background-color: #0e1823;
  border-radius: 72px;
  margin-bottom: 24px;
}

.reviews-cust-name {
  color: black;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.reviews-cust-text {
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;
  max-width: 303px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .reviews {
    padding-top: 75px;
    padding-bottom: 150px;
  }

  .second-item {
    display: flex;
  }

  .reviews-feedback-list {
    flex-direction: row;
    gap: 32px;
  }

  .reviews-title {
    font-size: 48px;
    max-width: 704px;
  }

  .reviews-paragraph {
    font-size: 14px;
    line-height: 130%;
    max-width: 571px;
    margin-bottom: 75px;
  }

  .reviews-cust-text {
    max-width: none;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .third-item {
    display: flex;
  }

  .reviews-feedback-list {
    gap: 26px;
  }

  .reviews-item {
    padding: 32px 28px;
    max-width: 376px;
  }

  .reviews-title {
    max-width: 854px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews.container {
    padding-left: 100px;
    padding-right: 100px;
  }

  .reviews-feedback-list {
    gap: 32px;
  }

  .reviews-item {
    padding: 32px 36px;
    max-width: 392px;
  }
}

/* Menu page */

h2 {
  font-size: 2rem;
  text-align: center;
  color: #ff5733; /* Example color for "Always on time" */
  margin-bottom: 20px;
}

.menus {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.menu-item {
  flex: 1;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #555;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 1rem;
  margin-bottom: 5px;
}

p {
  font-size: 1rem;
  margin-bottom: 10px;
}

strong {
  color: #ff5733; /* Example highlight color */
}

/* Responsive design */
@media (max-width: 768px) {
  .menus {
    flex-direction: column;
  }
}
